.menu-ul{
        list-style-type: none;
        margin: -10vw;
        margin-bottom: 7vw;
        margin-left: 10%;
        font-family: Ruda;
        font-size: 1.3vw;
        color: #16367C;
}
.menu-ul li {display: inline-block;margin-left: 6.99vw}


li {
        list-style-type: none;
}

.about-link {
        margin-top: -4%;
        margin-left: 21.5%;
}
.about-link li {display: inline-block;margin-left: 6.99vw}

img {
        width: 17.5%;
        height: 17.5%;
}

h1 {
        font-family: Ruda;
        font-size: 4vw;
        color: #16367C;
        text-align: center;
        margin-bottom: 0.5%;
}
p{
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
        text-align: center;
        padding: 0.5vw 8vw;
}


.sign-form{
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
        margin-left: 35%;
}

button {
        font-family: Ruda;
        font-size: 1.65vw;
        background-color: #16367C;
        color: #F19336;
        padding: 0.9vw 2vw;
        border: none;
}

.reg-btn {
        font-family: Ruda;
        font-size: 1.65vw;
        background-color: #16367C;
        color: #FFFF;
        padding: 0.5vw 2vw;
        border: none;
        border-radius: 3vw;
        font-weight:600;
}
.sub-btn {
        font-family: Ruda;
        font-size: 1.65vw;
        background-color:#F19336;
        color: #16367C;
        padding: 0.5vw 2vw;
        border: none;
        border-radius: 3vw;
        font-weight:600;
}

.login-item{
        list-style-type: none;
        margin: -6vw;
        margin-bottom: 7vw;
        margin-left: 73%;
        margin-right: 0vw;
        font-family: Ruda;
        font-size: 1.3vw;
        color: #16367C;
}

.login-item li {display: inline-block;margin-left: 1vw}
h6 {
        font-family: Ruda;
        font-size: 1.6vw;
        margin: -4vw;
        color: #16367C;
        text-align: center;
}

.names-ul{
        list-style-type: none;
        margin-bottom: 7vw;
        font-family: Ruda;
        font-size: 1.56vw;
        color: #16367C;
        text-align: center;
}
.names-ul li {display: inline-block;margin-left: 3vw}

.devs {
        display: inline-block;
        margin-left: 4.5%;
        width: 15%;
}
.social-icons {
        display: inline-block;
        margin-left: 1%;
        width: 4.5%;
}

label {
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
}

.field {
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
        margin-left: 5%;
        margin-bottom: 1vw;
        border-top: none;
        border-right: none;
        border-left: none;
        border-width:unset;
        width: 25%;
        border-color: #16367C;
        display: inline-block;
}
.line {
        width: 75%;
        margin-bottom: 1vw;
}

.contact-field {
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
        width: 25%;
        height: 5em;
        border: thick;
        border-color: #16367C;
        border-style: solid;        
        text-align:initial;
}

.blog-field {
        font-family: Ruda;
        font-size: 1.65vw;
        color: #16367C;
        width: 40%;
        height: 3em;
        border: thick;
        border-color: #16367C;
        border-style: solid;        
        text-align:initial;
}

.small-text {
        font-size: 1.2vw;
        color:#F19336;
}